[submodule "3rdparty/pangolin"]
	path = 3rdparty/pangolin
	url = git@github.com:stevenlovegrove/Pangolin.git
[submodule "3rdparty/Sophus"]
	path = 3rdparty/Sophus
	url = git@github.com:strasdat/Sophus.git
